@font-face {
  font-family: "SFPro-reg";
  src: url("../fonts/SF-Pro-Display-Medium.otf") format("opentype");
}

@font-face {
  font-family: "SFPro-display-light";
  src: url("../fonts/SF-Pro-Display-Thin.otf") format("opentype");
}
@font-face {
  font-family: "SFPro-display-bold";
  src: url("../fonts/SF-Pro-Display-Bold.otf") format("opentype");
}

@font-face {
  font-family: "SFUIText-Regular";
  src: url("../fonts/SFUIText-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "SFPro-display-heavy";
  src: url("../fonts/SF-Pro-Display-Heavy.otf") format("opentype");
}

@font-face {
  font-family: 'SF-Pro-Display-Medium', sans-serif;
  src: url("../fonts/SF-Pro-Display-Medium.otf") format("opentype");
}
